body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.main-title {
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #28a745;
    font-size: 2em;
    text-decoration: underline;
}

.cuisines, .dishes, .recipes {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

img {
    width: 200px; /* Adjust as needed */
    border-radius: 10px;
    opacity: 0.9;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
